
        body
        {
            margin: 0;
            background-image: url('../images/background/microsoftvisualstudio2010.jpg');
            background-color: #fff;
        }

        img
        {
            border: none;
        }

        .win8style_60x60
        {
            width: 60px;
            height: 60px;
            margin: 4px 0px 0px 4px;
        }

            .win8style_60x60 a
            {
                text-decoration: none;
            }

            .win8style_60x60 img
            {
                width: 60px;
                height: 60px;
            }

        .win8style_124x60
        {
            width: 124px;
            height: 60px;
            margin: 4px 0px 0px 4px;
        }

            .win8style_124x60 a
            {
                text-decoration: none;
            }

            .win8style_124x60 img
            {
                width: 124px;
                height: 60px;
            }

        .top
        {
            width: 960px;
            margin: auto;
            margin-top: 10px;
            height: 64px;
            /*background-color: #b6ff00;*/
            /*background-image: url(image/bk.png);*/
        }

            .top a
            {
                text-decoration: none;
            }

        .content
        {
            width: 960px;
            margin: auto;
            margin-top: 26px;
            /*background-color: #b6ff00;*/
        }